
.Qodebyte{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 10px;
    font-family:"inter" sans-serif;
}

.header-left{
    display: flex;
    align-items: top;
    margin-top: 10px;
}

#qode-1 h1{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #000000;

}
#qode-1 h2{
    font-size: 15px;
    font-weight: 400;
    color: #98989A;
    margin-top: 10px;
   
}
.header-right{
    font-size: 12px;
    font-style: medium;
    font-weight: 600;
    color: #98989a;
    margin-left: 70px;
    margin-top: 10px;

}
#qode-2{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;

}
#qode-3{
    margin-top: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    margin-top: 10px;
    margin-bottom: 20px;
   
}
.header-bottom{
    display: flex;
    gap: 10px;
}
#hrt-icon-2{
    border: #000000 solid 0.5px;
    width: 30px;
    height: 15px;
    padding: 8px;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 25%;
    font-weight: 400;
    gap: 5px;
    padding-inline: 20px;

}
#d-icon-2{
    border: #000000 solid 0.5px;
    width: 15px;
    height: 15px;
    padding: 8px 8px 8px 8px;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 25%;
    font-weight: 400;
    padding-inline: 20px;
    gap: 5px;

}

.header-bottom button{
    color: white;
    background-color: #225ab0;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 10%;
    margin-left: 30px;
    margin-bottom: 30px;
}